{% extends 'base.html'%}
{% block title %} Contact {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-10 ">

    <img src="static/bg2.jpg.jpg " class="d-block w-100" alt="..." style="height:400px">

</div>




  <div class="container">
    <h1 class="text-center" >Contact Us</h1>

  <form method="post"  action="/contact">
  {% csrf_token %}
 <div class="input-group mb-3 ">

  <input type="text" class="form-control" placeholder="Enter Your Name" id="name" name="name" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter Your Phone number" id ="phone" name="phone" aria-label="Recipient's username" aria-describedby="basic-addon2">

</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter Your Email Id" id ="email" name="email" aria-label="Recipient's username" aria-describedby="basic-addon2">

</div>


<div class="input-group">
  <span class="input-group-text">Tell me.</span>
  <textarea class="form-control" aria-label="With textarea" placeholder="Tell Me Why you want to contact me ..." id="desc" name="desc"></textarea>
</div>
  <button type="submit" class="btn btn-success text-center" style="margin-top:10px; position: absolute; left: 683px;">Submit</button>





</form>

</div>

{% endblock body %}